body {
    width: 1440px;
    margin: 0 auto;
}

header {
    background: #F5F8FF;
    height: 40px;
}

.mobile-top {
    display: none;
}

.header-grid {
    margin: auto 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40px;
}

.header-menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0;
    width: 448px;
    height: 17px;
    gap: 40px;
    margin-bottom: 0;
    margin-top: 11.5px;
}

.header-menu-item {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.header-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 52px;
    gap: 2px;
    justify-self: end;
    padding: 0;
    margin-bottom: 0;
    margin-top: 8px;
    height: 24px;
}

.wh {
    height: 3.5px;
}

.header-contacts-item {
    list-style-type: none;
    height: 24px;
    cursor: pointer;
}

.top-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 14px 80px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(25px);
}

.top-controls-icon {
    justify-self: center;
}

.top-catalog-btn {
    border: 0;
    border-radius: 60px;
    background: linear-gradient(23deg, #2A5CF6 0%, #2A5CF6 0.01%, #7191F4 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) inset;
    display: flex;
    width: 176px;
    padding: 10px 24px 10px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    cursor: pointer;
}

.top-search-form {
    display: flex;
}

.top-search-field {
    border-radius: 56px;
    width: 662px;
    height: 40px;
    padding: 12px 22px 8px 24px;
    border: 2px solid #2A5CF6;
    z-index: 1;
    border-right: 0 solid;
}

.top-search-field::placeholder {
    color: #A9A9A9;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}

.top-search-field:focus {
    outline: none;
}

.top-catalog-and-search-text {
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.top-search-btn-background {
    background: linear-gradient(23deg, #2A5CF6 0%, #2A5CF6 0.01%, #7191F4 100%);
    height: 40px;
    left: -18px;
    position: relative;
    width: 100px;
    border: 0 solid;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
}

.top-search-btn {
    padding: 0;
    width: 100px;
    border: 0 solid;
    height: 40px;
    border-left: none;
    left: 8px;
    position: relative;
    background: radial-gradient(circle at 0, rgba(204, 0, 0, 0) 14px, rgba(0, 0, 0, 0) 15px);
}

.top-controls-text {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
    justify-self: center;
}

.controls {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
}

.top-controls-icon.mouseover > path {
    stroke: #2A5CF6;
}

.top-controls-icon.mouseover > g > path {
    fill: #2A5CF6;
}

.top-name.mouseover {
    color: #2A5CF6;
}

.content {
    height: 1860px;
    overflow: hidden;
    position: relative;
    background: #FBFBFB;
    padding: 0 80px;
}

.content-parent-carousel {
    height: 356px;
    padding-bottom: 28px;
}

.content-carousel {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    gap: 32px;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    align-content: baseline;
    animation: slideshow 50s infinite;
    animation-timing-function: cubic-bezier(.83, -0.01, .17, .99);
}

@keyframes slideshow {
    0% {
        position: absolute;
        left: -2544px;
    }
    7.1% {
        position: absolute;
        left: -2544px;
    }
    14.3% {
        position: absolute;
        left: calc(-2544px - 1312px);
    }
    21.4% {
        position: absolute;
        left: calc(-2544px - 1312px);
    }
    28.6% {
        position: absolute;
        left: calc(-2544px - 1312px * 2);
    }
    35.7% {
        position: absolute;
        left: calc(-2544px - 1312px * 2);
    }
    42.9% {
        position: absolute;
        left: calc(-2544px - 1312px * 3);
    }
    50% {
        position: absolute;
        left: calc(-2544px - 1312px * 3);
    }
    57.1% {
        position: absolute;
        left: calc(-2544px - 1312px * 4);
    }
    64.3% {
        position: absolute;
        left: calc(-2544px - 1312px * 4);
    }
    71.4% {
        position: absolute;
        left: 80px;
    }
    78.6% {
        position: absolute;
        left: 80px;
    }
    85.7% {
        position: absolute;
        left: calc(80px - 1312px);
    }
    92.3% {
        position: absolute;
        left: calc(80px - 1312px);
    }
    100% {
        position: absolute;
        left: -2544px;
    }
}

@keyframes circle-3-animation {
    0% {
        color: rgba(42, 92, 246, 1);
    }
    7.1% {
        color: rgba(42, 92, 246, 1);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(42, 92, 246, 1);
    }
}

.control-circle-3 {
    animation: circle-3-animation 50s infinite;
}

@keyframes circle-4-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(42, 92, 246, 1);
    }
    21.4% {
        color: rgba(42, 92, 246, 1);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-4 {
    animation: circle-4-animation 50s infinite;
}

@keyframes circle-5-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(42, 92, 246, 1);
    }
    35.7% {
        color: rgba(42, 92, 246, 1);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-5 {
    animation: circle-5-animation 50s infinite;
}


@keyframes circle-6-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(42, 92, 246, 1);
    }
    50% {
        color: rgba(42, 92, 246, 1);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-6 {
    animation: circle-6-animation 50s infinite;
}


@keyframes circle-7-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(42, 92, 246, 1);
    }
    64.3% {
        color: rgba(42, 92, 246, 1);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-7 {
    animation: circle-7-animation 50s infinite;
}


@keyframes circle-1-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(42, 92, 246, 1);
    }
    78.6% {
        color: rgba(42, 92, 246, 1);
    }
    85.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    92.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-1 {
    animation: circle-1-animation 50s infinite;
}

@keyframes circle-2-animation {
    0% {
        color: rgba(40, 40, 40, 0.50);
    }
    7.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    14.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    21.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    28.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    35.7% {
        color: rgba(40, 40, 40, 0.50);
    }
    42.9% {
        color: rgba(40, 40, 40, 0.50);
    }
    50% {
        color: rgba(40, 40, 40, 0.50);
    }
    57.1% {
        color: rgba(40, 40, 40, 0.50);
    }
    64.3% {
        color: rgba(40, 40, 40, 0.50);
    }
    71.4% {
        color: rgba(40, 40, 40, 0.50);
    }
    78.6% {
        color: rgba(40, 40, 40, 0.50);
    }
    85.7% {
        color: rgba(42, 92, 246, 1);
    }
    92.3% {
        color: rgba(42, 92, 246, 1);
    }
    100% {
        color: rgba(40, 40, 40, 0.50);
    }
}

.control-circle-2 {
    animation: circle-2-animation 50s infinite;
}

.control-circle::marker {
    content: "•";
    font-size: 275%;
    opacity: 0.4000000059604645;
    width: 16px;
    height: 16px;
    padding: 0;
}

.content-carousel-control {
    display: flex;
    justify-content: center;
}

.slide-2 {
    border-radius: 12px;
    background: url("src/images/pine_top_left.svg"),
    url("src/images/pine_top_right.svg"),
    url("src/images/big_pine.svg"),
    url("src/images/little_pine.svg");
    background-position: top left, top right, 82%, 66% 100%;
    background-repeat: no-repeat;
    width: 1280px;
    height: 356px;
    margin: auto;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}

.slide-2-title {
    color: #5C71B2;
    font-family: Rubik, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.slide-2-data {
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    left: 190px;
    top: 40px;
}

.slide-2-data > ul {
    padding-left: 16px;
    margin: 8px 0;
}

.slide-2-list {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
    list-style: none;
}

.slide-2-list::before {
    content: "•";
    font-size: 105%;
    padding-right: 5px;
}

.control-list {
    display: grid;
    justify-content: center;
    list-style: none;
    padding: 0;
    height: 16px;
    margin: 0 0 0 43px;
    grid-template-columns: repeat(7, 1fr);
    gap: 9px;
    width: 192px;
    top: -16px;
    position: relative;
}

.control-circle {
    width: 16px;
    height: 16px;
}

.slide-2-btn {
    border-radius: 61px;
    background: linear-gradient(17deg, #9E0CAA 0%, #242AFF 42.32%, #23FBE1 100%), linear-gradient(45deg, #0634FD 0%, #00FCDE 48.44%, #EC34FE 94.79%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) inset;
    width: 206px;
    height: 42px;
    border: none;
    cursor: pointer;
}

.slide-2-btn-text {
    color: #FFF;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
}

.content-preferenties {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.prefer-card {
    width: 237px;
    height: 262px;
    border-radius: 40px;
    background: url("src/images/preference_background.svg");
    background-repeat: no-repeat;
    overflow: hidden;
}

.prefer-card-text-block {
    margin: 24px 24px 0 24px;
}

.prefer-card-title {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
}

.prefer-card-text {
    color: #525252;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
    opacity: 0.6000000238418579;
    position: relative;
    top: 8px;
}

.prefer-card-1-images {
    background: url("src/images/sber.svg"),
    url("src/images/ya.svg"),
    url("src/images/wb.svg"),
    url("src/images/ozon.svg");
    background-position: 1% 35%, 5% 99%, 100% 36%, 64% 100%;
    background-repeat: no-repeat;
    height: 56%;
}

.prefer-card-2-images {
    background: url("src/images/bank.svg");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    height: 49.2%;
}

.prefer-card-3-images {
    background: url("src/images/birka.svg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 42.2%;
}

.prefer-card-4-images {
    background: url("src/images/big_car.svg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 38.3%;
    position: relative;
    top: -8px;
}

.prefer-card-5-images {
    background: url("src/images/office.svg");
    background-position: 48% 100%;
    background-repeat: no-repeat;
    height: 56%
}

.content-catalog {
    margin-top: 59px;
}

.content-catalog-title {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.content-catalog-title-bold {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.content-catalog-title-little,
.content-catalog-title-slash {
    color: #A9A9A9;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    align-self: center;
}

.catalog-products {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 28px;
    gap: 24px;
    transition: transform 0.8s ease-in-out;
}

.catalog-product-empty {
    width: 200px;
}

.catalog-products-translated {
    transform: translate(-1528px, 0px);
}

.catalog-product-image {
    width: 302px;
    height: 402px;
}

.catalog-product {
    border-radius: 40px;
    cursor: pointer;
}

.catalog-product.mouseover {
    box-shadow: 10px -10px 34px 0px rgba(6, 52, 253, 0.12), 0px 10px 33px 0px rgba(0, 252, 222, 0.12), -10px 0px 33px 0px rgba(236, 52, 254, 0.12);
}

.product-annotation {
    margin-top: -47px;
    border-radius: 40px;
    display: grid;
    grid-template-rows: auto 28px;
    gap: 12px;
    padding: 12px 12px 15px;
}

.product-annotation.detail {
    grid-template-rows: auto auto 28px;
}

.dimentions-2 > span {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.dimentions-2.inactive {
    display: none;
}

.product-price-cart-btn {
    border: none;
    border-radius: 47px;
    background: linear-gradient(17deg, #9E0CAA 0%, #242AFF 42.32%, #23FBE1 100%);
    box-shadow: 0px 0px 20px 0px rgba(42, 92, 246, 0.30);
    width: 138px;
    height: 39px;
    align-self: center;
    display: grid;
    grid-template-columns: 18px 82px;
    gap: 8px;
    align-items: center;
    padding: 10px 15px 12px;
    cursor: pointer;
}

.product-price-cart-btn > span {
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
}

.product-price-cart-btn.inactive {
    display: none;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}

.scales-values {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 6px;
    margin-top: 6px;
}

.scales-values-mobile {
    display: none;
}

.scale {
    text-wrap: nowrap;
    color: #525252;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
    border-radius: 34px;
    background: #EEE;
    padding: 6px;
}

.scale.selected {
    border: 1px solid #2A5CF6;
    background: #F5F8FF;
}

.product-annotation-text {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.product-annotation-price {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: center;
}

.next-product-page-btn.mouseover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;

}

.prev-product-page-btn.mouseover {
    transform: rotate(180deg) scale(1.1);
    transition: transform 0.2s ease-in-out;

}

.next-product-page-btn {
    background: url("src/icons/right_arrow.svg");
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.20));
    top: 983px;
    left: 1340px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.prev-product-page-btn {
    background: url("src/icons/right_arrow.svg");
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.20));
    top: 983px;
    left: 60px;
    position: absolute;
    transform: rotate(180deg);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.disabled {
    display: none;
}

.heart-favorite {
    position: relative;
    left: 245px;
    top: -391px;
}

.about-us {
    position: absolute;
    top: 1494px;
    left: 80px;
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-us > img {
    justify-self: end;
}

.about-us-description {
    align-self: center;
    width: 628px;
}

.about-us-title {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.about-us-text {
    margin-top: 24px;
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.footer-title {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}

.footer-title-gray {
    color: #282828;
    opacity: 0.699999988079071;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.footer {
    padding: 40px 80px;
    display: grid;
    gap: 24px;
    grid-template-columns: 302px 302px 1fr;
    background: #EEE;
    position: relative;
}

.footer-list-item {
    color: #282828;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.footer-list {
    display: grid;
    gap: 17px;
    margin-top: 12px;
}

.other {
    justify-self: end;
}

.footer-input {
    border: none;
    border-radius: 43px;
    background: #FFF;
    width: 286px;
    height: 50px;
    padding-left: 16px;
}

.footer-contacts {
    margin-top: 5px;
    display: grid;
    gap: 8px;
}

.footer-contacts > div > svg {
    cursor: pointer;
}

.footer-input:focus {
    outline: none;
}

.footer-input::placeholder {
    color: #282828;
    opacity: 0.4000000059604645;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}

.footer-e-mail-send {
    background: url("src/icons/right_arrow.svg");
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.20));
    position: relative;
    top: 15px;
    left: -52px;
    cursor: pointer;
}

.footer-littlest-text {
    color: #808080;
    font-family: Rubik, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.footer-socials {
    display: grid;
    grid-template-columns: 40px 40px;
    gap: 8px;
}

.to-top-btn {
    position: absolute;
    top: 260px;
    left: 1255px;
    border: none;
    cursor: pointer;
}

.hr > svg {
    position: absolute;
}

.bot {
    background: #EEE;
    display: grid;
    grid-template-columns: 50px 205px;
    padding: 12px 80px;
    gap: 995px;
}

.year {
    align-self: center;
}

.pay {
    display: grid;
    grid-template-columns: 45px 65px 71px;
    gap: 12px;
    align-items: center;
}

@media (max-width: 1000px) {
    body {
        width: 428px;
    }

    .top-catalog-btn {
        display: none;
    }

    header {
        display: none;
    }

    .top-search-form {
        width: 395px;
        height: 20px;
    }

    .top-search-field {
        height: 20px;
        padding: 0px 12px 1px;
    }

    .top-search-btn-background {
        height: 20px;
        width: 80px;
    }

    .top-search-btn {
        height: 20px;
        width: 70px;
    }

    .top-catalog-and-search-text {
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.2px;
        position: relative;
        top: -0.5px;
    }

    .top-search-field::placeholder {
        color: #A9A9A9;
        font-size: 16px;
        letter-spacing: 0.1px;
        font-size: 10px;
        letter-spacing: 0.2px;
    }

    .top-grid {
        padding: 12px 0 8px 24px;
        grid-template-columns: 1fr;
        width: 388px;
        box-shadow: none;
    }

    .controls {
        display: none;
    }

    .mobile-top {
        display: grid;
        grid-template-columns: 24px 1fr;
        padding: 12px 27px 0 24px;
    }

    .mobile-top > svg {
        justify-self: start;
    }

    .mobile-top > div {
        justify-self: end;
    }

    .mobile-controls {
        display: grid;
        grid-template-columns: repeat(3, 20px);
        gap: 16px;
    }

    .content {
        background: none;
        padding: 0;
    }

    .content-parent-carousel {
        height: 176px;
    }

    .content-carousel {
        animation: slideshow 50s infinite;
        gap: 12px;
    }

    .content-slide {
        height: 176px;
        width: 377px;
    }

    .slide-2 {
        background: url("src/images/pine_top_left_mobile.svg"),
        url("src/images/pine_top_right_mobile.svg"),
        url("src/images/big_pine_mobile.svg"),
        url("src/images/little_pine_mobile.svg");
        background-repeat: no-repeat;
        background-position: top left, top right, 93% 100%, 78% 101%;
    }

    .slide-2-data {
        display: grid;
        width: 267px;
        height: 127px;
        left: 27px;
        top: 24px;
        gap: 4px;
    }

    .slide-2-data > ul {
        margin: 0;
        padding: 0 0 0 5px;
    }

    .slide-2-title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1px;
    }

    .slide-2-list {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.1px;
        height: 12px;
    }

    .slide-2-btn {
        width: 104px;
        height: 21px;
        margin-top: 2px;
    }

    .slide-2-btn-text {
        font-size: 8px;
        font-weight: 500;
        letter-spacing: 0.1px;
        position: relative;
        top: -2px;
    }

    @keyframes slideshow {
        0% {
            position: absolute;
            left: -752px;
        }
        7.1% {
            position: absolute;
            left: -752px;
        }
        14.3% {
            position: absolute;
            left: calc(-752px - 389px);
        }
        21.4% {
            position: absolute;
            left: calc(-752px - 389px);
        }
        28.6% {
            position: absolute;
            left: calc(-752px - 389px * 2);
        }
        35.7% {
            position: absolute;
            left: calc(-752px - 389px * 2);
        }
        42.9% {
            position: absolute;
            left: calc(-752px - 389px * 3);
        }
        50% {
            position: absolute;
            left: calc(-752px - 389px * 3);
        }
        57.1% {
            position: absolute;
            left: calc(-752px - 389px * 4);
        }
        64.3% {
            position: absolute;
            left: calc(-752px - 389px * 4);
        }
        71.4% {
            position: absolute;
            left: 24px;
        }
        78.6% {
            position: absolute;
            left: 24px;
        }
        85.7% {
            position: absolute;
            left: calc(24px - 389px);
        }
        92.3% {
            position: absolute;
            left: calc(24px - 389px);
        }
        100% {
            position: absolute;
            left: -752px;
        }
    }

    .content-carousel-control {
        position: relative;
        top: -34px;
    }

    .prefer-card {
        width: 154px;
        height: 203px;
        border-radius: 26px;
    }

    .prefer-card-text-block {
        margin: 16px;
    }

    .prefer-card-title {
        font-size: 12px;
        display: block;
    }

    .prefer-card-text {
        font-size: 10px;
        display: block;
        top: -7px;
    }

    .content-preferenties {
        overflow: scroll;
        padding: 0 24px;
    }

    .prefer-card-1-images {
        background: url("src/images/sber_mobile.svg"),
        url("src/images/ya_mobile.svg"),
        url("src/images/wb_mobile.svg"),
        url("src/images/ozon_mobile.svg");
        background-position: 1% 32%, 4% 100%, 100% 25%, 64% 100%;
        background-repeat: no-repeat;
        height: 94px;
    }

    .prefer-card-2-images {
        background: url("src/images/bank_mobile.svg");
        background-position: 0% 100%;
        background-repeat: no-repeat;
        height: 82px;
    }

    .prefer-card-4-images {
        transform: scale(0.7);
        height: 50%;
        top: -54px;
        left: 23px;
    }

    .prefer-card-5-images {
        transform: scale(0.7);
        height: 102px;
        position: relative;
        top: -7px;
    }

    .content-catalog-title {
        width: 211px;
    }

    .content-catalog-title-bold {
        font-size: 24px;
        font-weight: 500;
    }

    .content-catalog-title-little,
    .content-catalog-title-slash {
        font-size: 16px;
    }

    .catalog-products {
        grid-template-columns: repeat(9, 180px);
        margin: 0;
        top: 12px;
        position: relative;
        overflow: scroll;
        gap: 12px;
        height: 480px;
    }

    .catalog-product-image {
        transform: scale(0.6);
        left: -60px;
        position: relative;
        top: -80px;
    }

    .heart-favorite {
        position: relative;
        left: 134px;
        top: -400px;
    }

    .content-catalog {
        margin-top: 20px;
        padding: 0 0 0 24px;
    }

    .product-annotation {
        margin-top: -210px;
    }

    .product-annotation-text {
        font-size: 12px;
    }

    .dimentions-2 > span {
        font-size: 14px;
    }

    .product-annotation-price {
        font-size: 16px;
    }

    .scales-values {
        display: none;
    }

    .scales-values-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }

    .scale {
        font-size: 10px;
    }

    .product-price-cart-btn {
        width: 148px;
        height: 38px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .product-price-cart-btn > span,
    .product-annotation-price {
        display: none;
    }

    .product-price-container {
        margin-left: 5px;
    }

    .next-product-page-btn,
    .prev-product-page-btn {
        display: none;
    }
}
